# Use gpg-agent to handle ssh keys
set -e SSH_AGENT_PID
if not set -q gnupg_SSH_AUTH_SOCK_by[1] || math $gnupg_SSH_AUTH_SOCK_by[1] -ne (pid)
    set -x SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
end

# Use neovim as the default terminal editor
set -x EDITOR nvim

# Define a different path for go
set -x GOPATH $HOME/.local/share/go

# Aliases
alias lg="lazygit"

# Load asdf
source ~/.asdf/asdf.fish

# Load starship
starship init fish | source
