#!/usr/bin/env bash

github_user="{{ github_user }}"
dir="$HOME/projects/suckless"
repos=(
	"dmenu"
	"dwm"
	"slock"
	"slstatus"
	"st"
	"xssstate"
)

mkdir -p "$dir"

for repo in "${repos[@]}"; do
	git clone "https://github.com/$github_user/$repo.git" "$dir/$repo"
done
