#!/usr/bin/env bash

github_user="{{ github_user }}"
dir="$HOME/projects/42"
repos=(
	"42cursus"
	"42piscine"
	"libft"
	"minishell"
	"philosophers"
)

mkdir -p "$dir"

for repo in "${repos[@]}"; do
	git clone "https://github.com/$github_user/$repo.git" "$dir/$repo"
done
